.contacts {
  .container();
  .set-container();
  padding-top: 42px;
  padding-bottom: 16px;
  background-color: @white;

  @media (min-width: @width-tablets) {
    padding-top: 46px;
    padding-bottom: 26px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 64px;
    padding-bottom: 15px;
  }
}


.contacts__tittle {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @dark-blue;

  @media (min-width: @width-tablets) {
    margin-bottom: 43px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 56px;
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__tittle-main,
.contacts__tittle-note {
  .mar-pad-reset();
}

.contacts__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablets) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contacts__item {
  margin-bottom: 23px;
  text-align: center;

  @media (min-width: @width-tablets) {
    width: 300px;
    margin-bottom: 45px;

    &--adress {
      width: 290px;
      margin: 0 auto;
    }
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 5px;

    &--mail {
      order: 2;
    }

    &--adress {
      order: 1;
    }
  }
}

.contacts__item-tittle {
  .mar-pad-reset();
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @dark-blue;

  @media (min-width: @width-tablets) {
    margin-bottom: 5px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 23px;
  }
}

.contacts__text {
  .mar-pad-reset();
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @pink;
  text-decoration: none;

  &:hover {
    color: @dark-blue;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }

  /*
  &:focus {
    outline: 2px solid @pink;
    //outline-offset: 4px;
  }*/
}

.tab-user .contacts__text {
  &:focus {
    outline: 2px solid @pink;
  }
}
