.features {
  color: @dark-blue;
  background-color: @gray-white;
}

.features__tittle {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @dark-blue;
  background-color: @white;

  @media (min-width: @width-tablets) {
    padding-top: 49px;
    padding-bottom: 47px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 67px;
    padding-bottom: 79px;
    font-size: 50px;
    line-height: 60px;
  }
}

.features__tittle-wrapper {
  padding: 0 40px;
  .set-container();
}

.features__tittle-main,
.features__tittle-note {
  .mar-pad-reset();
}

.features__tittle-note {
  margin-top: 27px;

  @media (min-width: @width-tablets) {
    max-width: 420px;
    margin: 0 auto;
  }

  @media (min-width: @width-desktop) {
    max-width: 500px;
  }
}

.features__box-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    background-image: linear-gradient(to right bottom, #ffffff 50%, @gray-white 50%);
    z-index: 0;

    @media (min-width: @width-tablets) {
      height: 50px;
    }

    @media (min-width: @width-desktop) {
      top: 0;
      height: 92px;
    }
  }
}

.features__wrapper {
  .container();
  .set-container();
  padding-top: 81px;

  @media (min-width: @width-tablets) {
    position: relative;
    padding-top: 74px;
    padding-bottom: 43px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 0;
  }
}

.features__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    width: 157px;
    height: 277px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 157px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }

    @media (min-width: @width-tablets) {
      display: none;
    }
  }

  @media (min-width: @width-tablets) {
    padding-left: 50%;
  }

  @media (min-width: @width-desktop) {
    flex-direction: row;
    align-items: stretch;
    padding-left: 0;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 31px;
  text-align: center;

  &:last-child {
    margin-bottom: 41px;
  }

  @media (min-width: @width-tablets) {
    text-align: left;
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      width: 268px;
      height: 481px;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 268px auto;
    }

    &--active::after {
      z-index: 3;
    }

    &--mood::after {
      background-image: url("../img/iphone-screen-1-tablet@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-tablet@2x.png");
      }
    }

    &--world::after {
      background-image: url("../img/iphone-screen-2-tablet@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-tablet@2x.png");
      }
    }

    &--friends::after {
      background-image: url("../img/iphone-screen-3-tablet@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  @media (min-width: @width-desktop) {
    position: relative;
    width: 300px;
    padding: 354px 30px 0;
    margin-right: 20px;
    margin-bottom: 0;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 302px;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 292px auto;
    }

    &:last-child {
      margin-right: 0;
    }

    &--mood::after {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-position: 4px top;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &--world::after {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-position: 7px top;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &--friends::after {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-position: 7px top;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.features__name {
  .mar-pad-reset();
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;

  @media (min-width: @width-desktop) {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
  }
}

.features__description {
  .mar-pad-reset();
  padding: 0 10px;
  font-size: @font-size;
  line-height: @line-height;
  color: @dark-blue;

  @media (min-width: @width-tablets) {
    padding: 0;
  }

  @media (min-width: @width-desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}

.features__period {
  @media (min-width: @width-mobile) {
    display: none;
  }

  @media (min-width: @width-tablets) {
    display: block;
    padding-top: 59px;
    padding-bottom: 25px;
    background-color: @white;
  }

  @media (min-width: @width-desktop) {
    padding-top: 23px;
    padding-bottom: 67px;
    background-color: @gray-white;
  }
}

.features__period-wrapper {
  .set-container();
  display: flex;
  justify-content: space-between;
}

.features__timer {
  position: relative;
  width: 239px;
  height: 276px;
  background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-position: center top 55px, center;
  background-size: 202px 202px, 239px 276px;

  &::after {
    content: "24";
    position: absolute;
    top: 76px;
    left: 49.7%;
    font-size: 96px;
    font-weight: 700;
    line-height: 149.47px;
    color: @pink;
    transform: translateX(-50%);
  }

  @media (min-width: @width-desktop) {
    width: 299px;
    height: 345px;
    background-position: center top 69px, center;
    background-size: 253px 253px, 299px 345px;

    &::after {
      top: 96px;
      left: 49.5%;
      font-size: 120px;
      font-weight: 700;
      line-height: 186.84px;
    }
  }
}

.features__period-container {
  @media (min-width: @width-tablets) {
    padding-top: 37px;
    padding-bottom: 29px;
    width: 311px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 91px;
    padding-bottom: 48px;
    width: 574px;
  }
}

.features__period-tittle {
  @media (min-width: @width-tablets) {
    .mar-pad-reset();
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    color: @black;
  }

  @media (min-width: @width-desktop) {
    br {
      display: none;
    }
    margin-bottom: 21px;
  }
}

.advantages__period-text {
  @media (min-width: @width-tablets) {
    .mar-pad-reset();
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 24px;
    color: @dark-blue;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 35px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 30px;
  }
}

.features__period-link {
  font-size: 14px;
  line-height: 24px;
  color: @pink;

  @media (min-width: @width-tablets) {
    display: inline-block;
    text-decoration: none;
    line-height: 14px;
    border-bottom: 1px solid @pink;
  }

  @media (min-width: @width-desktop) {
    font-size: 18px;
    line-height: 19px;
  }

  &:hover {
    color: @dark-blue;
    opacity: 0.5;

    @media (min-width: @width-tablets) {
      border-color: rgba(147, 154, 162, 0.5);
    }
  }

  /*
  &:focus {
    outline: 2px solid @pink;
    outline-offset: 4px;
  }*/
}

.tab-user .features__period-link {
  &:focus {
    outline: 2px solid @pink;
    outline-offset: 4px;
  }
}
