.main-header {
  position: relative;
  margin-bottom: -66px;
  width: 100%;
  color: @white;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: @width-tablets) {
    min-height: 110px;
    margin-bottom: -110px;
  }

  &--open {
    background-color: @dark-blue;

  }
}

.main-header__wrapper {
  position: relative;
  .set-container();
  .container();

  @media (min-width: @width-desktop) {
    .set-container();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header__logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  margin: 22px 0;

  &:hover .main-header__logo-img {
    fill: @pink;
  }

  &:active .main-header__logo-img {
    opacity: 0.3;
  }

  @media (min-width: @width-tablets) {
    margin-top: 40px;
  }
}
