.main-section {
  padding-top: 66px;
  text-align: center;
  background-color: @very-dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 701px auto;
  }

  @media (min-width: @width-tablets) {
    padding-top: 110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--main {
      //padding-top: 0;
    }
  }

  @media (min-width: @width-desktop) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;
    background-position: center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.main-section__inner {
  position: relative;
  .container();
  .set-container();
  min-height: 90px;

  &--main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
    //.set-container();

    @media (min-width: @width-tablets) {
      padding-top: 93px;
      padding-bottom: 110px;
    }

    @media (min-width: @width-desktop) {
      padding-top: 108px;
      padding-bottom: 124px;
    }
  }

  &--main::before {
    content: "";
    position: relative;
    display: block;
    height: 396px;
    width: 100%;
    margin-bottom: 28px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 258px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }

    @media (min-width: @width-tablets) {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 619px;
      margin-bottom: 0;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 700px auto;
      z-index: 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
    }

    @media (min-width: @width-desktop) {
      height: 743px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: right -126px bottom;
      background-size: 1050px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  &--submain {
    padding-top: 30px;
    padding-bottom: 51px;

    @media (min-width: @width-tablets) {
      min-height: 180px;
      padding-top: 70px;
      padding-bottom: 80px;
    }

    @media (min-width: @width-desktop) {
      min-height: 120px;
      padding-top: 63px;
      padding-bottom: 101px;
    }
  }
}

@media (min-width: @width-desktop) {
  .main-section--photo .main-section__title {
    max-width: 415px;
    margin: 0 auto;
  }
}

.main-section__title {
  .mar-pad-reset();
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @white;

  @media (min-width: @width-tablets) {
    font-size: 50px;
    line-height: 60px;
  }
}
