.main-nav {
  @media (min-width: @width-desktop) {
    margin-top: 18px;
    max-width: 750px;
  }

  &--open .main-nav__list {
    @media (max-width: (@width-desktop - 1px)) {
      display: block;
    }

    margin-top: 3px;

    @media (min-width: @width-tablets) {
      margin-top: 0;
    }

    /*
    @media (min-width: @width-desktop) {
      display: flex;
    }*/
  }
}
/*****no--js****/

.main-nav--nojs .main-nav__list {
  @media (max-width: (@width-desktop - 1px)) {
    display: block;
  }
  margin-top: 3px;

  @media (min-width: @width-tablets) {
    margin-top: 0;
  }
}
/********************/

.main-nav__list {
  .list-reset();
  flex-direction: column;
  display: none;
  border-top: 1px solid #000000;

  @media (min-width: @width-desktop) {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
  }
}

.main-nav__item {
  text-align: center;

  @media (min-width: @width-desktop) {
    margin-right: 80px;

    background-color: yellow;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;
    }

    &--active::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -4px;
      left: 0;
      height: 2px;
      background: #ffffff;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  background-color: @dark-blue;
  transition: all 0.2s ease;

  @media (min-width: @width-desktop) {
    padding: 0;
    font-weight: 400;
    text-transform: none;
    border: none;
    background-color: transparent;

    /*
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px #ffffff,
        0 0 6px 6px @dark-blue;
      color: @pink;
    }*/

    background-color: aqua;
  }

  &[href]:hover {
    color: @pink;
  }

  /*
  &:focus {
    outline: none;
    color: @pink;
  }*/

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.tab-user .main-nav__link:focus {
  color: @pink;
  outline: none;

  @media (min-width: @width-desktop) {
    box-shadow: 0 0 0 3px #ffffff,
      0 0 6px 6px @dark-blue;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  .mar-pad-reset();
  border: none;
  background-color: transparent;
  outline: none;

  @media (min-width: @width-tablets) {
    top: 44px;
  }

  @media (min-width: @width-desktop) {
    display: none;
  }

  svg {
    fill: @white;
  }

  &:hover svg,
  &:focus svg {
    fill: @pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--close {
  .main-nav__icon--open {
    display: block;
  }

  .main-nav__icon--close {
    display: none;
  }
}

.main-nav--open {
  .main-nav__icon--open {
    display: none;
  }

  .main-nav__icon--close {
    display: block;
  }
}

/***no--js для кнопки вызова меню***/
.main-nav--nojs .main-nav__toggle {
  display: none;
}
/**********************/
