.main-section {
  padding-top: 66px;
  text-align: center;
  background-color: @very-dark-blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.main-section__inner {
  position: relative;
  .container();
  min-height: 171px;

  &--main {
    padding-left: 0;
    padding-right: 0;
    .set-container();

    @media (min-width: @width-tablets) {
      padding-top: 200px;
      padding-bottom: 105px;
    }

    @media (min-width: @width-desktop) {
      padding-top: 220px;
      padding-bottom: 120px;
    }

  }

  &--main::before {
    content: "";
    position: relative;
    display: block;
    height: 396px;
    width: 100%;
    margin-bottom: 32px;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: left bottom;

    @media (min-width: @width-tablets) {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 470px;
      margin-bottom: 0;
      background-position: center bottom;
      z-index: 0;
      }
    }
}

.main-section__title {
  .mar-pad-reset();
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @white;
}
