.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: @dark-blue;
  background-color: @white;
}

.main-footer__logo-img:hover:not(:active) {
  fill: @pink;
}

.main-footer__logo-img:active {
  opacity: 0.3;
}
