.main-header {
  position: relative;
  width: 100%;
  color: @white;
  min-height: 66px;

  &--open {
    margin-bottom: -67px;
    background-color: @dark-blue;
    //background-color: red;
  }

  &--close {
    margin-bottom: -66px;
    background-color: rgba(0, 0, 0, 0.3);
    //background-color: red;
  }

  @media (min-width: @width-tablets) {
    min-height: 110px;

    &--open {
      margin-bottom: -111px;
    }

    &--close {
      margin-bottom: -110px;
    }
  }

  @media (min-width: @width-desktop) {
    &--open,
    &--close {
      margin-bottom: -110px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
/***no--js***/
.main-header--nojs {
  margin-bottom: -67px;
  background-color: @dark-blue;

  @media (min-width: @width-tablets) {
    margin-bottom: -111px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: -110px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
/***************************/

.main-header__wrapper {
  //position: relative;
  //.set-container();//наверно можно удалить
  //.container();

  @media (min-width: @width-desktop) {
    width: 940px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header__logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  margin: 22px 0;
  margin-bottom: 22px;
  margin-left: 20px;
  fill: @white;
  outline: none;

  &:hover .main-header__logo-img {
    fill: @pink;
  }

  &:active .main-header__logo-img {
    fill: rgba(210, 40, 86, 0.3);
  }

  &:focus .main-header__logo-img {
    fill: @pink;
  }

  @media (min-width: @width-tablets) {
    margin-top: 27px;
    margin-bottom: 60px;
  }

  @media (min-width: @width-desktop) {
    margin-left: 0;
    margin-top: 27px;
    margin-bottom: 40px;
  }
}

.main-header__logo-img {
  margin-left: -72px;
  margin-top: -17px;

  @media (min-width: @width-tablets) {
    margin-left: 0;
    margin-top: 0;
  }
}

.main-header__logo-glas-deskt {
  display: none;

  @media (min-width: @width-desktop) {
    display: inline;
  }
}

.main-header__logo-glas-tab {
  display: none;

  @media (min-width: @width-tablets) {
    display: inline;
  }

  @media (min-width: @width-desktop) {
    display: none;
  }
}

.main-header__logo-stars {
  display: none;

  @media (min-width: @width-desktop) {
    display: inline;
    fill: @pink;
  }
}
