.photo-upload {
  padding-top: 45px;
  color: @dark-blue;
  background-color: @white;
}

.photo-upload__description {
  .mar-pad-reset();
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
