.photo-editor {
  .set-container();
  background-color: @gray-white;

  @media (min-width: @width-desktop) {
    background-color: @white;
  }
}

.photo-editor__form {

  padding-top: 20px;
  padding-bottom: 41px;

  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablets) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: @width-desktop) {
    padding-bottom: 57px;
    padding-left: 80px;
    padding-right: 60px;
    background-color: @gray-white;
  }
}

.photo-editor__picture {
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  .container();

  @media (min-width: @width-tablets) {
    margin: 0;
    padding: 0;
  }
}

.photo-editor__body {
  @media (min-width: @width-tablets) {
    display: flex;
    flex-direction: column;
    width: 275px;
  }

  @media (min-width: @width-desktop) {
    width: 410px;
  }
}

.photo-editor__controls-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 76px;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);

  @media (min-width: @width-tablets) {
    position: static;
    display: block;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.photo-editor__control {
  display: inline-block;
  @media (min-width: @width-tablets) {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 24px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);

    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: @width-tablets) {
    padding-top: 0;
    padding-bottom: 12px;
    margin-bottom: 15px;
  }
}
/*
.photo-editor__controls {
  display: flex;
  flex-direction: column;
  .container();
  margin-bottom: 34px;
}

.photo-editor__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 39px;
}*/

.photo-editor__btn {
  .mar-pad-reset();
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
  width: 48px;
  height: 48px;
  text-align: center;
  border: none;
  background-color: transparent;

  @media (min-width: @width-tablets) {
    margin-left: 0;
    margin-right: 30px;
    width: 24px;
    height: 24px;
  }

  @media (min-width: @width-desktop) {
    margin-right: 44px;
    width: 48px;
    height: 48px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    fill: @dark-blue;
    opacity: 0.3;
  }

  &:hover svg {
    opacity: 0.5;
  }

  &--active svg {
    fill: @pink;
    opacity: 1;
  }

  &--crop svg {
    width: 44px;
    height: 44px;

    @media (min-width: @width-tablets) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: @width-desktop) {
      width: 44px;
      height: 44px;
    }
  }

  &--saturate svg {
    width: 48px;
    height: 44px;

    @media (min-width: @width-tablets) {
      width: 24px;
      height: 22px;
    }

    @media (min-width: @width-desktop) {
      width: 48px;
      height: 43px;
    }
  }

  &--bright svg {
    width: 32px;
    height: 32px;

    @media (min-width: @width-tablets) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: @width-desktop) {
      width: 32px;
      height: 32px;
    }
  }
}

@media (min-width: @width-tablets) {
  .photo-editor__btn svg {
    fill: @pink;
    opacity: 1;
  }
}

.photo-editor__bar-wrapper {
  display: flex;
  flex-direction: column;
}

.photo-editor__bar {
  display: none;
  position: relative;
  height: 2px;
  background-color: @dark-blue;

  &--crop {
    position: absolute;
    left: 38px;
    right: 42px;
    bottom: 34px;
    display: block;
  }

  @media (min-width: @width-tablets) {
    &--crop {
      position: relative;
      left: auto;
      bottom: auto;
      right: auto;
      width: 100%;
    }
    &--saturate,
    &--bright {
      display: block;
      width: 100%;
    }
  }
}

.photo-editor__thumb {
  position: absolute;
  top: -6px;
  left: 50%;
  .mar-pad-reset();
  box-sizing: border-box;
  height: 14px;
  width: 14px;
  background-color: @white;
  border: 2px solid @pink;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  outline: none;

  &:focus {
    background-color: @pink;
  }
}

.photo-editor__upl-btns {
  display: flex;
  flex-direction: column;
  .container();
  padding-top: 38px;
  //padding-bottom: 41px;
  //border-top: 1px solid rgba(40, 54, 69, 0.1);

  @media (min-width: @width-tablets) {
    margin-top: auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 13px;
  }
  @media (min-width: @width-desktop) {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.photo-editor__upl-btn {
  margin-bottom: 12px;
  color: @pink;
  border-color: @pink;

  &:hover,
  &:focus {
    color: @white;
    background-color: @pink;
  }

  &:active {
    color: rgba(1, 1, 1, 0.3);
  }

  @media (min-width: @width-tablets) {
    margin-bottom: 24px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 0;
    width: 183px;
  }
}

.photo-editor__cancel-btn {
  color: @dark-blue;
  border-color: @dark-blue;
  opacity: 0.1;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    color: rgba(1, 1, 1, 0.3);
    background-color: @dark-blue;
    opacity: 0.3;
  }
  @media (min-width: @width-desktop) {
    width: 183px;
  }
}
