.photo-upload {
  color: @dark-blue;
  background-color: @white;
}

.photo-upload__description {
  box-sizing: border-box;
  .container();
  .set-container();
  padding-top: 45px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @width-tablets) {
    font-size: 18px;
    padding: 90px 30px;
  }

  @media (min-width: @width-desktop) {
    padding: 90px 150px;
  }
}

.photo-upload__description-text {
  .mar-pad-reset();
}
