.popup {
  display: block;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
  background-color: @white;
  box-shadow: 0 7px 15px rgba(0,1,1,0.15);
  z-index: 1000;

  @media (min-width: @width-tablets) {
    width: 460px;
    border-radius:5px;
  }

  &--success {
    @media (min-width: @width-desktop) {
      width: 780px;
    }
  }
}

.popup__body {
  padding: 40px 20px 30px;

  &--error {
    padding-bottom: 0;
  }

  @media (min-width: @width-tablets) {
    padding: 35px 80px 30px;
  }

  &--success {
    @media (min-width: @width-tablets) {
      padding: 40px 160px 32px;
    }
  }
}

.popup__tittle {
  .mar-pad-reset();
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;

  @media (min-width: @width-tablets) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }
}

.popup__text {
  .mar-pad-reset();
  font-size: 18px;
  line-height: 24px;
  color: @dark-blue;
}

.popup__bottom {
  padding: 48px 20px 52px;
  background-color: @gray-white;

  &--error {
    padding: 38px 20px 50px;
    background-color: @white;
  }

  @media (min-width: @width-tablets) {
    padding: 48px 80px 52px;

    &--error {
      padding: 30px 80px 52px;
    }
  }

  &--success {
    @media (min-width: @width-desktop) {
      padding-left: 160px;
      padding-right: 160px;
    }
  }
}

.popup__btn {
  width: 100%;
  background-color: @green;

  &:hover,
  &:focus {
    background-color: @dark-green;
  }

  &:active {
    color: rgba(1, 1, 1, 0.3);
  }

  &:disabled {
    background-color: @dark-gray;
  }
}
