.price {
  position: relative;
  padding-top: 91px;
  padding-bottom: 38px;
  background-color: @gray-white;

  @media (min-width: @width-tablets) {
    padding-top: 88px;
    padding-bottom: 31px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 150px;//148
    padding-bottom: 58px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;//-3
    left: 0;
    width: 100%;
    height: 25px;//50%
    background-image: linear-gradient(to right bottom, #ffffff 50%, green 50%);
    //background: url("../img/bg-triangle-white.svg") no-repeat center top;
    //background-size: 100% 31px;
    z-index: 0;

    @media (min-width: @width-tablets) {
      top: 0;
      left: 0;//-5px
      height: 50px;
      //background-size: 100% 51px;
    }

    @media (min-width: @width-desktop) {
      top: 0;
      left: 0;
      height: 81px;
      //background-size: 100% 63px;
    }
  }
}

.price__wrapper {
  //.container();
  .set-container();
  overflow: hidden;

  @media (min-width: @width-tablets) {
    overflow: visible;
  }
}

.price__list {
  width: 262.4%;
  margin-bottom: 37px;
  border-collapse: collapse;
  transform: translateX(-30.9%);
  text-transform: uppercase;

  @media (min-width: @width-tablets) {
    width: 100%;
    transform: none;
  }
}

.price__item {
  //display: flex;
  //justify-content: space-between;
  position: relative;
  padding-top: 18px;
  padding-left: 22px;
  padding-right: 66px;
  padding-bottom: 17px;
  //vertical-align: middle;
  background-color: @white;
  border: 2px solid @dark-gray;
  border-top-width: 0;
  background-clip: padding-box; //для firefox, edge чтобы были рамки у ячеек(их нет из-за relative)

  @media (min-width: @width-tablets) {
    padding: 6px 15px 8px;
    //border-top-width: 2px;
  }

  @media (min-width: @width-desktop) {
    padding: 14px 21px 14px;
  }

  &--filter-name {
    display: none;

    @media (min-width: @width-tablets) {
      display: table-cell;
      text-transform: none;
      border-top-width: 2px;
    }
  }
}

.price__item::after {
  content: "";
  position: absolute;
  display: block;
  //width: 31px;
  //height: 31px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @width-tablets) {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.price__item--avaible::after {
  top: 20px;
  right: 17px;
  width: 31px;
  height: 21px;
  background-image: url("../img/icon-yes.svg");
  background-size: 31px 21px;

  @media (min-width: @width-tablets) {
    height: 31px;
    top: 2px;
    left: -1px;
  }

  @media (min-width: @width-desktop) {
    top: 3px;
  }
}

.price__item--no-avaible::after {
  top: 15px;
  right: 20px;
  width: 27px;//31
  height: 26px;//31
  background-image: url("../img/icon-no.svg");
  background-size: 27px 26px;

  @media (min-width: @width-tablets) {
    top: 1px;
    left: -1px;
  }

  @media (min-width: @width-desktop) {
    left: -2px;
  }
}

.price__tariff {
  position: relative;
  padding: 16px 45px 20px;
  color: @white;
  border-left: 2px solid @dark-gray;
  border-right: 2px solid @dark-gray;
  background-color: @dark-blue;
  background-clip: padding-box; //для firefox, edge чтобы были рамки у ячеек(их нет из-за relative)

  &--hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 74px;
    height: 73px;
    background: url("../img/bg-hit.svg") no-repeat center;
    background-size: 74px 73px;

    @media (min-width: @width-tablets) {
      width: 61px;
      height: 61px;
      left: 0;
      background: url("../img/bg-hit-tablet.svg") no-repeat top left;
      background-size: 61px 61px;
    }

    @media (min-width: @width-desktop) {
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      background: url("../img/bg-hit.svg") no-repeat center;
      background-size: 74px 73px;
    }
  }

  @media (min-width: @width-tablets) {
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 20px;
    padding-bottom: 8px;
    width: 25%;

    border-bottom: 2px solid @dark-blue; //дописал
  }

  @media (min-width: @width-desktop) {
    padding-top: 16px;
    padding-bottom: 17px;//18
  }
}

@media (min-width: @width-tablets) {
  .price__tariff + .price__tariff {
    border-left: 2px solid transparent;
    //border-right: 2px solid transparent; //чтобы не было нижний перегородки у правых двух синих ячеек
  }

  .price__tariff {
    &:nth-child(2) {
      border-left-color: @dark-blue;
    }

    &:last-of-type {
      border-right-color: @dark-blue;
    }
  }
}

.price__separator {
  display: none;

  @media (min-width: @width-tablets) {
    display: table-cell;
    border: none;
    background-color: transparent;
  }
}

.price__name {
  margin: 0;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: @width-tablets) {
    margin-bottom: -3px;
    font-size: 16px;
  }

  @media (min-width: @width-desktop) {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.price__cost {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;

  @media (min-width: @width-tablets) {
    display: inline-block;
    font-size: 18px;
  }

  @media (min-width: @width-desktop) {
    font-size: 24px;
  }
}

.price__flag {
  position: absolute;
  top: 12px;
  left: 9px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  background-color: red;
  transform: rotate(-45deg);

  @media (min-width: @width-tablets) {
    top: 4px;
    left: 7px;
  }

  @media (min-width: @width-desktop) {
    top: 12px;
    left: 11px;
  }
}

.price__item-name {
  //width: 70%;
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;

  &--cell {
    @media (min-width: @width-tablets) {
      display: none;
    }
  }

  @media (min-width: @width-desktop) {
    font-size: 18px;
  }
}
/*
.price__avaible {
  position: absolute;
  display: block;
  top: 20px;
  right: 17px;
  width: 31px;
  height: 31px;
  //text-align: center;
  vertical-align: middle;
  //background-position: center;
  //background-repeat: no-repeat;

  &--no {
    top: 15px;
    right: 16px;
  }

  &--yes svg {
    //background-image: url("../../img/icon-yes.svg");
    fill: @btn-yes;

  }

  &--no svg{
    //background-image: url("../../img/icon-no.svg");
    fill: @btn-no;
  }

  @media (min-width: @width-tablets) {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;

    &--yes svg {
      vertical-align: middle;
      margin-top: 7px;
    }

    &--no svg {
      vertical-align: middle;
      margin-top: 3px;
    }
  }
}*/

.price__toggles {
  @media (min-width: @width-tablets) {
    display: none;
  }
}
