.questionnaire {
  .container();
  .set-container();
  padding-top: 45px;
  color: @dark-blue;
  background-color: @white;

  @media (min-width: @width-tablets) {
    padding-top: 90px;
  }
}

.questionnaire__description {
  .mar-pad-reset();
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @width-tablets) {
    font-size: 18px;
    padding: 0 20px;
  }
}

.questionnaire__description-main,
.questionnaire__description-note {
  .mar-pad-reset();
}

.questionnaire__description-note {
  display: none;

  @media (min-width: @width-tablets) {
    display: block;
  }

  @media (min-width: @width-desktop) {
    display: inline-block;
  }
}

.questionnaire__form {
  display: flex;
  flex-direction: column;
  //align-items: center;

  @media (min-width: @width-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.questionnaire__col {
  box-sizing: border-box;
  .mar-pad-reset();
  //.container();
  padding-top: 35px;
  padding-bottom: 35px;
  border: none;

  &--name {
    background-color: @white;
    @media (min-width: @width-tablets) {
      order: 0;
    }

    @media (min-width: @width-desktop) {
      width: 435px;
    }
  }

  &--achiev {
    background-color: @gray-white;
    @media (min-width: @width-tablets) {
      padding-left: 58px;
      padding-right: 58px;
      border: 2px solid @dark-gray;
      background-color: @white;
      order: 3;
    }

    @media (min-width: @width-desktop) {
      width: 100%;
    }
  }

  &--contacts {
    background-color: @white;
    @media (min-width: @width-tablets) {
      padding-left: 58px;
      padding-right: 58px;
      border: 2px solid @dark-gray;
      order: 2;
    }

    @media (min-width: @width-desktop) {
      //display: flex;
      //justify-content: space-between;
      width: 100%;
    }
  }

  &--apps {
    background-color: @gray-white;
    @media (min-width: @width-tablets) {
      padding-left: 58px;
      padding-right: 58px;
      border: 2px solid @dark-gray;
      background-color: @white;
      order: 1;
    }
  }

  &--feeling {
    background-color: @white;
    @media (min-width: @width-tablets) {
      padding-left: 58px;
      padding-right: 58px;
      border: 2px solid @dark-gray;
      order: 4;
    }

    @media (min-width: @width-desktop) {
      width: 100%;
    }
  }
}

.questionnaire__item-tittle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @pink;
}

.questionnaire__group {
  margin-bottom: 20px;

  &--name {
    @media (min-width: @width-tablets) {
      display: flex;
      align-items: center;
    }
  }

  &--contact {
    @media (min-width: @width-tablets) {
      display: flex;
      flex-direction: column-reverse;
    }

    @media (min-width: @width-desktop) {
      display: inline-flex;
      width: 375px;
      margin-right: 65px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.questionnaire__text-label {
  display: inline-block;
  margin-left: 23px;
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;

  &--name {
    @media (min-width: @width-tablets) {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  &--contact {
    @media (min-width: @width-tablets) {
      margin-top: 10px;
    }
  }
}

.questionnaire__field,
.questionnaire__area {
  box-sizing: border-box;
  width: 100%;
  height: 63px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
  border: 2px solid @dark-gray;
  border-radius: 2px;
}

.questionnaire__area {
  min-height: 201px;
}

.questionnaire__field:hover,
.questionnaire__area:hover {
	border-color: @dark-blue;
}

.questionnaire__field:focus,
.questionnaire__area:focus {
	outline: none;
	border-color: @pink;
}

.questionnaire__list {
  .list-reset();
}



.questionnaire__option {
  margin-bottom: 50px;
  padding-left: 67px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @width-desktop) {
  .questionnaire__col--achiev .questionnaire__list {
    column-count: 3;
    column-gap: 50px;
  }
}

@media (min-width: @width-desktop) {
  .questionnaire__col--achiev .questionnaire__option {
    display: inline-block;
    width: 100%;
    margin-bottom: 65px;
  }
/*
  .questionnaire__col--achiev .questionnaire__option:last-child {
    margin-bottom: 50px;
  }*/
}

.questionnaire__label {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;

  @media (min-width: @width-desktop) {
    display: flex;
    align-items: center;
    min-height: 43px;
  }
}

.questionnaire-input + label:before {
  content: "";
  position: absolute;
  left: -67px;
  top: 50%;
  width: 39px;
  height: 39px;
  transform: translateY(-50%);
  border: 2px solid @dark-gray;
}

.questionnaire-input-radio + label:before {
  border-radius: 50%;
}

.questionnaire-input:hover + label:before {
  border-color: @dark-blue;
}

.questionnaire-input:focus + label:before {
  border-color: @pink;
}

.questionnaire__bottom {
  display: flex;
  flex-direction: column;
  @media (min-width: @width-tablets) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    order: 5;

  }
}

.questionnaire__btn {
  background-color: @green;

  &:hover,
  &:focus {
    background-color: @dark-green;
  }

  &:active {
    color: rgba(1, 1, 1, 0.3);
  }

  &:disabled {
    background-color: @dark-gray;
  }

  @media (min-width: @width-tablets) {
    width: 300px;
  }
}

.questionnaire__legend {
  color: @dark-blue;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.questionnaire__star-symbol {
  color: @pink;
}

.questionnaire__legend-note {
  display: none;

  @media (min-width: @width-desktop) {
    display: inline;
  }
}
