.reviews {
  padding-top: 42px;
  padding-bottom: 36px;
  background-color: @white;

  background-color: bisque;

  @media (min-width: @width-tablets) {
    padding-top: 71px;
    padding-bottom: 15px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 185px;
    padding-bottom: 41px;
  }
}

.reviews__wrapper {
  .container();
  .set-container();
}

.reviews__list {
  @media (min-width: @width-desktop) {
    position: relative;
  }
}

.reviews__item {
  display: none;
  .mar-pad-reset();
  text-align: center;

  &--active {
    display: block;
  }

  @media (min-width: @width-tablets) {
    &--active {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: @width-desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.reviews__author-name {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: @black;

  @media (min-width: @width-tablets) {
    margin-bottom: 5px;
    font-size: 20px;
    order: 1;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 3px;
    font-size: 24px;
  }

}

.reviews__author-work {
  .mar-pad-reset();
  display: none;
  font-size: 14px;
  line-height: 24px;
  order: 2;

  @media (min-width: @width-tablets) {
    display: block;
  }

  @media (min-width: @width-desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__text {
  .mar-pad-reset();
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;

  @media (min-width: @width-tablets) {
    margin-bottom: 35px;
    font-size: 18px;
  }
}

.reviews__toggles {
  margin-top: 27px;

  @media (min-width: @width-tablets) {
    margin-top: 31px;
  }
  @media (min-width: @width-desktop) {
    display: none;
  }
}

.reviews__btn {
  position: absolute;
  top: 28px;
  display: none;
  .mar-pad-reset();
  width: 22px;
  height: 41px;
  border: none;
  cursor: pointer;
  opacity: 0.3;

  background-color: aqua;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  @media (min-width: @width-desktop) {
    display: block;
  }
}
