.reviews {
  background-color: @white;
}

.reviews__item {
  .mar-pad-reset();
  .container();
  text-align: center;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: @black;
}

.reviews__text {
  .mar-pad-reset();
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
}
