.social {
  //width: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 12px;
  width: 51px;
  height: 51px;
  vertical-align: middle;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  background-color: @white;
  transition: all 0.2s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover:not(:active) {
    border: 3px solid rgb(40, 54, 69);
  }

  @media (min-width: @width-desktop) {
    &:first-child {
      margin-left: 2%;
    }
  }
}

.social__btn:focus {
  outline: none;
  border: 3px solid rgb(40, 54, 69);
}
/*
.social__btn {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: @pink;
    transform: translateX(-50%) translateY(-50%);
  }

  &--youtube svg {
    transform: translateX(-40%) translateY(-50%);
  }
}*/

.social__btn {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.social__btn {
  &--tw::after {
    width: 18px;
    height: 14px;
    background-image: url("../img/icon-twitter.svg");
    background-size: 18px 14px;
  }

  &--fb::after {
    width: 9px;
    height: 18px;
    transform: translateX(-50%) translateY(-60%);
    background-image: url("../img/icon-facebook.svg");
    background-size: 9px 18px;
  }

  &--youtube::after {
    width: 15px;
    height: 13px;
    transform: translateX(-40%) translateY(-60%);
    background-image: url("../img/icon-youtube.svg");
    background-size: 15px 13px;
  }
}

.social__btn:active {
  opacity: 0.3;
}
